*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

body {
    background: url("./images/4.png") no-repeat center center;
}

.globalSearch {
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 0;
}   
.globalSearch>form {
    display: flex;
}
.globalSearch>form>div>input{
   height: 38px;
   width: 400px;
   padding: 8px;
}
.globalSearch>form>div>button{
    width: 60px; 
    margin-left: 10px;
    cursor: pointer;
 }

 /* main css */
 .globalMain {
     width: 812px;
     margin: 0 auto;
 }
 .globalMain>.site {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
 }
 .globalMain>.site>.site_items {
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }